# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ethumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
coverage

# Bechmarking
bechmarks/graphs

# Build Folder
build